<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="./js/jscript.js">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <p>
        <button onclick="myMove()">Click Me</button>
    </p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
</body>
</html>